@font-face {
    font-family: SF-Pro-Regular;
    src: url('/fonts/SFPRODISPLAYREGULAR.OTF');
    font-display: swap;
}

@font-face {
    font-family: Circular-Std;
    src: url('/fonts/circular-std-medium-500.ttf');
    font-display: swap;
}

body {
    font-family: SF-Pro-Regular;
}

.rdrDateDisplayWrapper {
    display: none;
}

.rdrPprevButton {
    display: none !important;
}

.rdrNextButton {
    display: none !important;
}

.rdrMonthAndYearWrapper {
    align-items: left !important;
}

.rdrMonthAndYearPickers {
    justify-content: start !important;
}